body {
	background: rgba(0, 0, 0, .9);
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.header::after {
	content: '';
	height: 100vh;
	width: 100%;
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;

	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: all 1000ms;
}
.header:hover::after{
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.header:hover .header-content{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}


.header-content{
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: all 1000ms;
}

.header-content .logo{
	height: 100px;
	width: 100px;

}

.mapa{
	height: 100%;
	width: 300%;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	color: #F2B705;
}

.title1 {
	font-family: 'Oswald', sans-serif;
	font-size: 5rem;
	color: #F2B705;
}

.title2 {
	font-family: 'Oswald', sans-serif;
	font-size: 4rem;
	color: #F2B705;
}

.subTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	color: #F29F05;
}


.text{
	line-height: 1.7;
	margin-top: 1rem;
}

.container{
	height: 100%;
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}
.row{
	height: 100%;
}

.grid-3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.grid-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.text-center{
	text-align: center;
	margin: auto;
}

.bg-light {
	background: #fff;
	color: #333;
}

.bg-dark{
	background: #2f3542;
	color: #fff;
}

.services {
	padding: 2rem 0;
}

.blanco{
	color: #fff;
}

footer{
	padding: 2.2rem;

}

footer p {
	margin: 0;
}

@media(max-width: 560px){
	.header::after{
		height: 50vh;
	}

	.header-content{
		top: 5%;
		margin-top: 5px; 
	}

	.header-content .logo{
		height: 100px;
		width: 100px;
	}

	.header-content .text{
		display: none;
	}

	.grid-3, .grid-2{
		grid-template-columns: 1fr;
	}

	.services {
		padding: 1rem 1rem;
	}
}
/* Landscape */
@media(max-height: 500px) {
  .header-content .text {
    display: none;
  }
  .header-content {
    top: 0;
  }

  	.header-content .logo{
		height: 70px;
		width: 70px;
	}

}